<div id="popup" class="is-hidden backdrop">
    <div class="modal-container book">
        <div class="book-img">
            <img src="/src/images/Logotype.png" class="book-img" alt="book-img">
        </div>
        <div class="book-about">
            <p class="book-title"><Title></Title></p>
            <p class="book-author">Author</p>
            <p class="book-descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum sapiente voluptas soluta sed modi nobis, ullam unde? Modi cumque, minus enim odio veniam maxime est provident eos facilis totam dolorem.</p>
            <ul class="book-markets">
                <li class="market-1">
                    <svg src=""></svg>
                    <a href=""></a>
                </li>
                <li class="market-2">
                    <svg src=""></svg>
                    <a href=""></a>
                </li>
                <li class="market-3">
                    <svg src=""></svg>
                    <a href=""></a>
                </li>
            </ul>
        </div>
        <button class="close-bnt">
            <svg src="/src/image/close-btn.svg" width="28" height="28"></svg>
        </button>
        <button class="add-remove-btn">
            <p class="add-remove-text"></p>
        </button>
    </div>
</div>