<!-- <link rel="stylesheet" href="./css/footer.scss"> -->

<footer>
  <div class="footer-wrapper first-string">
<span class="footer-copyright">&#xa9</span>
<span>2023</span>
<span>|</span>
<span>All Rights Reserved</span>
<span>|</span>
  </div>
  <div class="footer-wrapper second-string">
    <span>Developed with </span>
<svg class="footer-heart-icon" width="14" height="13" viewBox="0 0 14 13" >
<path d="M7 12.88L6.02 11.9C2.38 8.68 0 6.51 0 3.85C0 1.68 1.68 0 3.85 0C5.04 0 6.23 0.56 7 1.47C7.77 0.56 8.96 0 10.15 0C12.32 0 14 1.68 14 3.85C14 6.51 11.62 8.68 7.98 11.9L7 12.88Z" />
</svg>
<span>by <a class="goit-students" href="#">GoIT Students</a></span>
  </div>  
  
</footer>


<div class="students-overlay visually-hidden">
<audio class="visually-hidden" src="./images/students/simply-the-best.mp3" type="audio/mpeg" controls loop>


</audio>
<div class="students-modal"></div>
<h2 class="students-header">This project was created by:</h2>
 <button type="button" aria-label="students-modal-close-btn"  class="students-modal-close-btn">
        <svg
          class="icon-close"
          width="12"
          height="12"
          viewBox="0 0 12 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11.25 11.25L0.75 0.75M11.25 0.75L0.75 11.25"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>

<div class="footer-students">

</div>
</div>

<script src="./js/footer.js" type="module"></script>





