
    <link rel="stylesheet" href="./css/header.css">
    <script src="./js/header.js"></script>
<body>
    <header class="header">
        <div class="header_body">
                <a href="./index.html" class="logo__link">
                  <!-- Поменять SCR лого -->
                    <img src="./image/logo.svg" alt="logo" />
                    <span class="span">Bookshelf</span>
                </a>
                <nav class="page-nav">
                    <ul class="menu-list list">
                        <li class="menu-item">
                            <!-- Поменять ссылку на начальную страничку -->
                            <a href="./index.html">Home</a>
                        </li>
                        <li class="menu-item">
                            <!-- Поменять ссылку на сайт с покупками -->
                            <a href="./partials/shopping-list/shopping-list.html">
                                <span class="shopping-list">Shopping list</span> 
                                <!-- Поменять SCR лого -->
                                <img src="./image/shop.svg" alt="logo-shop">
                            </a>
                        </li>
                  </ul>
                <div>
                    <label class="switch" data-start>
                        <input type="checkbox" class="toogle" onchange="changeTheme(this.checked)">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div>
                    <p>Wellcome!</p>
                </div>
              
            <!-- КНОПКА -->
            <button  type="button" class="mobile-menu-open-btn" data-menu-open>
                <svg class="mobile-menu-icon" width="32" height="22">
                  <use href="./image/open-menu-btn.svg"></use>           
                </svg>
            </button>
        
        </div>


            <!-- МЕНЮ КНОПКИ -->
            <div class="mobile-menu-container-wrapper" data-menu>
                <div class="mobile-menu-container">
              <button type="button" class="mobile-menu-close-btn" data-menu-close>
                <svg class="mobile-menu-close-icon" width="8" height="8">
                  <use href="./image/close-btn.svg"></use>
                </svg>
              </button>
          <nav>
            <ul class="mobile-menu-list-link list">
                <li class="menu-item">
                    <!-- Поменять ссылку на начальную страничку -->
                    <a href="./index.html">Home</a>
                </li>
                <li class="menu-item">
                    <!-- Поменять ссылку на сайт с покупками -->
                    <a href="./partials/shopping-list/shopping-list.html">
                        <span class="shopping-list">Shopping list</span> 
                        <!-- Поменять SCR лого -->
                        <img src="./image/shop.svg" alt="logo-shop">
                    </a>
                </li>
            </ul>
          </nav>
          <div>
            <p>Wellcome!</p>
        </div>

    </div>
    </header>
</body>
</html>


