.list {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
  }
  
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
  
  
body {
    transition: background-color 0.3s ease;
  }
  
  .dark-theme {
    background-color: #000000;
    color: #ffffff;
  }
  
  

.header{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1.5px solid #111111;
    border-radius: 0px 0px 8px 8px;
    
}
.header_body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
  
.page-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
  
  
  
  
  
  
  
  
  
  
  .switch {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }
    
    .switch input {display:none;}
    
  
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(180deg, #4F2EE8 0%, #DCDCDC 100%);
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background: linear-gradient(180deg, #4F2EE8 0%, #686868 100%);
    }
    
    input:focus + .slider {
      background: linear-gradient(180deg, #4F2EE8 0%, #686868 100%);
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(16px);
      -ms-transform: translateX(16px);
      transform: translateX(16px);
    }
    
    .slider.round {
      border-radius: 18px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
  
  
    
    
    :root {
      --var-bgcolor: #fff;
      --var-fontcolor: #000;
    }
    
    
    [dark] {
      --var-bgcolor: #333;
      --var-fontcolor: #eee;
    }
    
    body {
      background-color: var(--var-bgcolor);
      color: var(--var-fontcolor);
    }



    .header-section {
      border-bottom: 1px solid var(--footer-header-color);
      box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  
  .logo {
      font-family: "Raleway", sans-serif;
      font-weight: 800;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--second-color);
      padding-top: 24px;
      padding-bottom: 24px;
  }
  
  .logo span {
      color: var(--logo-button-color);
  }
  
  /* ++++HEADER-MOBILE+++++ */
  
  @media screen and (max-width: 767px) {
      .menu-list {
          display: none;
      }
  
      .contact-list {
          display: none;
      }
  
      .page-nav {
          display: none;
      }
  
      .page-header-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
      }
  
      .mobile-menu-open-btn {
          border: none;
          background-color: transparent;    
          cursor: pointer;
      }
  
      .mobile-menu-icon {
          stroke: var(--second-color);
      }
  
      .mobile-menu-container-wrapper {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          background-color: var(--white-color);
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
      }
  
      .mobile-menu-container-wrapper.is-open {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
      }
  
      .mobile-menu-container {
          position: relative;
          width: 100%;
          height: 100%;
          padding-left: 40px;
          padding-right: 60px;
          padding-bottom: 40px;
          padding-top: 80px;
          overflow: auto;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
      }
  
      .mobile-menu-close-btn {
          position: absolute;
          right: 40px;
          top: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 24px;
          height: 24px;
          width: 24px;
          height: 24px;
          cursor: pointer;
          background-color: var(--footer-color);
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 50%;
          transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
  
      .mobile-menu-close-btn:hover,
      .mobile-menu-close-btn:focus {
          background-color: var(--hover-button);
      }
  
  
      .mobile-menu-list-link {
          display: flex;
          flex-direction: column;
          gap: 40px;
      }
  
      .link-mobile-menu {
          font-weight: 700;
          font-size: 36px;;
          line-height: 1.11;
          letter-spacing: 0.02em;
          text-transform: capitalize;
          color: var(--second-color);
      }
  
      .active.link-mobile-menu {
      color: var(--logo-button-color);
  }
  
  .mobile-menu-contacts-list {
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-top: auto;
      margin-bottom: 48px;
  }
  
      .mobile-menu-tel {
          font-family: 'Roboto';
          font-weight: 600;
          font-size: 26px;
          line-height: 1.11;
          letter-spacing: 0.02em;
          text-transform: capitalize;
          color: var(--logo-button-color);
          
      }
  
      .mobile-menu-mail {
          font-weight: 500;
          font-size: 20px;
          line-height: 1.2;
          letter-spacing: 0.02em;
          color: var(--contact-description-color);
      }
  
      .mobile-menu-socialmedia-list {
          display: flex;
          gap: 48px;
      }
  
      .mobile-menu-socialmedia-item {
          width: 40px;
          height: 40px;
          background-color: var(--logo-button-color);
          border-radius: 50%;
      }
  
      .mobile-menu-socialmedia-link {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
      }
  
      .mobile-menu-icon-instagram {
          width: 24px;
          height: 24px;
      }
  }
  
  /* +++++++HEADER-TABLET+++++++ */
  
  @media screen and (min-width: 768px) {
      .mobile-menu-container-wrapper {
          display: none;
      }
  
      .mobile-menu-open-btn {
          display: none;
      }
  
      .menu-list {
          display: flex;
          align-items: center;
      }
  
      .menu-item:not(:last-child) {
          margin-right: 40px;
      }
  
      .menu-link {
          font-family: 'Roboto';
          font-weight: 500;
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.02em;
          color: var(--second-color);
          padding-top: 24px;
          padding-bottom: 26px;
          transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
  
      .current {
          position: relative;
          color: var(--logo-button-color);
      }
  
      .current::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          display: block;
          width: 100%;
          height: 4px;
          background-color: var(--hover-button);
          border-radius: 2px;
          opacity: 1;
          }
  
      .contact-tel,
      .contact-mail {
          font-weight: 400;
          font-size: 12px;
          line-height: 1.33;
          letter-spacing: 0.04em;
          color: var(--contact-description-color);
  }
  
  }
  
  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
      .page-header-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
      }
  
      .contact-item:not(:last-child) {
              margin-bottom: 4px;
          }
  }
  
  /* ++++++HEADER-DESKTOP++++++ */
  
  @media screen and (min-width: 1200px) {
      .page-header-wrapper {
              display: flex;
              align-items: center;
      }
  
  
      .logo {
          padding-bottom: 28px;
          margin-right: 76px;
      }
  
      .menu-list {
          margin-right: 332px;
      }
  
      .menu-link {
          padding-bottom: 28px;
          
      }
  
      .contact-list {
          display: flex;
          align-items: center;
          justify-content: center;
      }
  
      .contact-item:not(:last-child) {
          margin-right: 40px;
      }   
      
      .contact-tel,
      .contact-mail {
          font-weight: 400;
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.02em;
      }
  }