
#loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(247, 247, 247);
  z-index: 9998;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader-overlay .loader {
  position: relative;
  margin: auto;
  width: 270px;
  color: rgb(234, 198, 69);
  font-family: 'DM Sans', sans-serif;
  font-size: 180%;
  font-weight: 700;
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
  text-shadow: 4px 4px 4px rgba(47, 43, 43, 0.25);
  z-index: 9999;
}

#loader-overlay .loader:after {
  content: '';
  display: table;
  clear: both;
}

#loader-overlay span {
  text-align: center;
  overflow: hidden;
  float: left;
  height: 80px;
  line-height: 80px;
  width: 30px;
}

#loader-overlay .covers {
  position: absolute;
  height: 100%;
  width: 100%;
}

#loader-overlay .covers span {
  background-color: rgb(247, 247, 247);
  animation: up 2s infinite;
}

@keyframes up {
  0% {
    margin-bottom: 0;
  }

  16% {
    margin-bottom: 100%;
    height: 16px;
  }

  50% {
    margin-bottom: 0;
  }

  100% {
    margin-bottom: 0;
  }
}

#loader-overlay .covers span:nth-child(2) {
  animation-delay: 0.142857s;
}

#loader-overlay .covers span:nth-child(3) {
  animation-delay: 0.185714s;
}

#loader-overlay .covers span:nth-child(4) {
  animation-delay: 0.228571s;
}

#loader-overlay .covers span:nth-child(5) {
  animation-delay: 0.261428s;
}

#loader-overlay .covers span:nth-child(6) {
  animation-delay: 0.304285s;
}

#loader-overlay .covers span:nth-child(7) {
  animation-delay: 0.347142s;
}

#loader-overlay .covers span:nth-child(8) {
  animation-delay: 0.38142s;
}

#loader-overlay .covers span:nth-child(9) {
  animation-delay: 0.42142s;
}
