:root {
    --charity-bar-blue: #4F2EE8;
    --charity-bar-txt-clr: #fff;
}
.side-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1439.8px){
    .side-menu {
        flex-direction: row;
    }
}
@media screen and (min-width: 1440px) {
    .side-menu {
        gap: 86px;
    }
}
.categories-menu {
    overflow-y: scroll;
    overflow-x: hidden;

/* scroll styling for firefox */
    scrollbar-color: var(--scroll-bar) transparent;
    scrollbar-width: thin;

    scrollbar-gutter: stable;
}
.categories-list {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-height: calc(18px * 6 + 30px * 5);
    
}

/* scroll styling for chrome */
.categories-menu::-webkit-scrollbar {
    width: 8px;               /* ширина всей полосы прокрутки */
  }
  .categories-menu::-webkit-scrollbar-track {
    border-radius: 12px;
    background: transparent;        /* цвет зоны отслеживания */
  }
  .categories-menu::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar);    /* цвет бегунка */
     border-radius: 12px;       /*округлось бегунка */
    border: none;  /* отступ вокруг бегунка */
  }


.categories-list-item {
    letter-spacing: -0.02em;
    font-size: 18px;
    /* line-height: 24px; */
    padding-right: 30px;
    line-height: 24px;
    white-space: nowrap;
}
.categories-list-item:hover,
.categories-list-item:focus,
.categories-list-item[selected="true"] {
    cursor: pointer;
    color: var(--text-fourth-color);
}

.categories-list-item[selected="true"] {
    text-transform: uppercase;
    font-weight: 700;
}

.charity-bar {
    border-radius: 16px;
    background: radial-gradient(183.6% 183.01% at 59.76% -23.42%,#4f2ee8 18.03%,#fff 100%);
    
    padding: 24px 40px;
    text-align: center;
}
.charity-bar * {
    font-size: 18px;
    color: var(--charity-bar-txt-clr);
}

ol.charity-list {
    display: flex;
    gap: 20px;
    flex-direction: column;

	list-style-type: none;
	counter-reset: li;
}
li.charity-list-item {
    display: flex;
    align-items: center;
    height: 32px;
}
li.charity-list-item:before {
    counter-increment: li;
    content: counter(li, decimal-leading-zero);
    color: var(--charity-bar-txt-clr);
    margin-right: 16px;
    align-self: center;
  }
.charity-bar-header {
    color: var(--charity-bar-txt-clr);
    letter-spacing: -.04em;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    display: flex;
    margin: 0 0 40px 0;
}
.charity-bar-header::after {
    content: url(/src/images/charity-fonds/Ukraine.svg);
    width: 20px;
    height: 20px;
    margin-left: 12px;
}
.charity-fond-img {
fill: var(--charity-bar-txt-clr);
filter: brightness(0)invert();
}
@media screen and (min-width: 1440px) {
    .charity-bar {
        min-width: 356px;
    } 
}
@media screen and (min-width: 768px) {
    .charity-bar {
        min-width: 50%;
    }
    
}
@media screen and (min-width: 1440px) {
    .charity-slider-btn {
        width: 38px;
        height: 38px;
        /* margin-top: 40px; */
    }
}

.charity-slider-btn {
    position: relative;
    padding: 5px;
    margin: 30px auto;
    background: var(--charity-bar-txt-clr);
    height: 32px;
    width: 32px;
    border-radius: 50%;
    transition: all 0.2s linear;
    border: none;
    position: relative;
    margin-top: 16px;
    margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
    .charity-slider-btn {
        margin-top: 32px;
    }
}
@media screen and (min-width: 1440px) {
    .charity-slider-btn {
        margin-top: 40px;
    }
}
.charity-slider-btn:hover {
    transform: translate3d(0, 3px, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.274);
}
.charity-slider-btn::after {
    content: url('/src/images/charity-fonds/down-btn.svg');
    fill: var(--charity-bar-blue);
}
#tns1-mw {
    overflow: hidden;
}
.tns-visually-hidden {
    display: none;
}

/* side menu heights */
.charity-items-wrapper {
    overflow: hidden;
}
@media screen and (max-width: 767.8px) {
    .charity-items-wrapper {
        height: 188px;
    }
}
@media screen and (min-width: 768px) {
    .charity-items-wrapper {
        height: 292px;
    }
    .categories-menu {
        height: 472px;
    }
    .charity-bar {
        height: 472px;
    }
}
@media screen and (max-width: 1439.8px) {
    .shopping-aside {
        display: none;
    }
}
@media screen and (min-width: 1440px) {
    .charity-bar {
        height: 490px;
    }
}


